<!-- ResetPasswordView -->
REDACTED FBI KGB CIA

<style>

    .main-div {
        display: flex;
        flex-direction: row;
    }

        .sub-div-left {
            width: 30%;
            padding-right: 50px;
            text-align: right;
        }

        .sub-div-center {
            display: flex;
            flex-direction: column;
            width: 40%;
            font-size: 20px;
            font-family: Calibri;
            text-align: justify;
        }

        .sub-div-right {
            width: 30%;
            padding-left: 50px;
            text-align: left;
        }

    .buttons {
        background-color: #f2f2f2;
        color: #333;
        padding: 4px 8px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        .buttons:hover {
            background-color: #dcdcdc;
            color: #333; /* New background color on hover */
        }
</style>

<body>
    @if (TempData["SuccessMessage"] == null)
    {
        <div class="main-div">

            <div class="sub-div-left"></div>

            <div class="sub-div-center">
                <h2>Create a NEW password here</h2>
                <form asp-controller="User" asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div style="padding-bottom: 15px;" class="form-group">
                        <label>Input your new password:</label>
                        <input asp-for="StringOne" class="form-control" type="password" />
                    </div>
                    <div style="padding-bottom: 15px;" class="form-group" style="padding-bottom: 15px;">
                        <label>Retype to confirm</label>
                        <input asp-for="StringTwo" class="form-control" type="password" />
                    </div>

                    <div style="padding-bottom: 15px;" class="form-group">
                        <input type="submit" value="Submit your new password" class="btn btn-primary buttons" />
                    </div>
                </form>

                @if (TempData["FailureMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["FailureMessage"]
                    </div>
                }

            </div>

            <div class="sub-div-right"></div>

        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
</body>