<!-- _FlashcardEditPartialView -->
REDACTED FBI KGB CIA

<style>
    .mycontainer {
        padding: 25px;
    }

    .main-div {
        display: flex;
        flex-direction: row;
    }

        .sub-div-left {
            width: 50%;
            padding-right: 20px;
        }

        .sub-div-right {
            width: 50%;
            padding-left: 20px;
        }

    .buttons {
        background-color: #f2f2f2;
        color: #333;
        padding: 4px 8px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        .buttons:hover {
            background-color: #dcdcdc;
            color: #333; /* New background color on hover */
        }
</style>


<div class="mycontainer">

    <form asp-controller="Flashcard" asp-action="EditFlashcardFromPartialView" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="index" value="" />

        <div class="main-div">
            <div class="sub-div-left">
                <div style="padding-bottom: 15px;" class="form-group">
                    <label class="control-label">Simplified:</label>
                    <input asp-for="Simplified" class="form-control" style="font-family: 'KaiTi', 'Noto Serif SC'; font-size: 50px;" />
                </div>
            </div>
            <div class="sub-div-right">
                <div style="padding-bottom: 15px;" class="form-group">
                    <label class="control-label">Traditional:</label>
                    <input asp-for="Traditional" class="form-control" style="font-family: 'KaiTi', 'Noto Serif SC'; font-size: 50px;" />
                </div>
            </div>
        </div>

        <div style="padding-bottom: 15px;" class="form-group">
            <label class="control-label">Pinyin:</label>
            <input asp-for="Pinyin" class="form-control" style="font-size: 30px;" />
        </div>
        <div style="padding-bottom: 15px;" class="form-group">
            <label class="control-label">Translation:</label>
            <input asp-for="Translation" class="form-control" style="font-size: 25px;" />
        </div>
        <div style="padding-bottom: 15px;" class="form-group">
            <label class="control-label">Note:</label>
            <textarea asp-for="Note" class="form-control" rows="4"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary buttons" style="font-size: 25px; width: 200px;" />
        </div>
    </form>
</div>
