<head>
<style>
    .main-div {
        display: flex;
        flex-direction: row;
    }
        .sub-div-left {
            display: flex;
            flex-direction: column;
            width: 50%;     
            text-align: justify;
            padding-right: 30px;
        }

        .sub-div-right {
            display: flex;
            flex-direction: column;
            width: 50%;
            text-align: justify;
            padding-left: 30px;
        }
        .margin-top {
            margin-top: 30px;
            text-align: center;
        }
</style>
</head>

<body>      

    <div style="text-align: center;">
        <h2>Website features</h2>
    </div>

    <div class="main-div"> 

        <div class="sub-div-left"> 

            <div class="margin-top">
                <h3>
                    Flashcards with spaced repetition                    
                </h3>
                <br />
                <img style="width: 100%;" src="~/images/flashcard-practice-gif.gif" />
            </div>

            <div class="margin-top" >
                <h3>
                    Character components coming soon!
                </h3>
                <br />
                <img style="width: 100%;" src="~/images/components-gif.gif" />
            </div>

        </div>

        <div class="sub-div-right">

            <div class="margin-top">
                <h3>
                    Upload vocabulary from Excel files
                </h3>
                <br />
                <img style="width: 100%;" src="~/images/upload-gif.gif" />
            </div>
                
            <div class="margin-top">
                <h3>
                    Public decks
                </h3>
                <br />
                <img style="width: 100%;" src="~/images/public-decks-gif.gif" />
            </div>

        </div>

    </div>

    <div class="margin-top">
        <p>This website is in early stages of development. Many more features will follow ...</p>
    </div>
</body>